<div class="col-lg-3 col-md-4">
    <div class="gallery-item">
        <a href="{{ asset('build/images/gallery/gallery-1.jpg') }}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{{ asset('build/images/gallery/gallery-1.jpg') }}" alt="" class="img-fluid">
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="gallery-item">
        <a href="{{ asset('build/images/gallery/gallery-2.jpg') }}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{{ asset('build/images/gallery/gallery-2.jpg') }}" alt="" class="img-fluid">
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="gallery-item">
        <a href="{{ asset('build/images/gallery/gallery-3.jpg') }}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{{ asset('build/images/gallery/gallery-3.jpg') }}" alt="" class="img-fluid">
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="gallery-item">
        <a href="{{ asset('build/images/gallery/gallery-4.jpg') }}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{{ asset('build/images/gallery/gallery-4.jpg') }}" alt="" class="img-fluid">
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="gallery-item">
        <a href="{{ asset('build/images/gallery/gallery-5.jpg') }}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{{ asset('build/images/gallery/gallery-5.jpg') }}" alt="" class="img-fluid">
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="gallery-item">
        <a href="{{ asset('build/images/gallery/gallery-6.jpg') }}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{{ asset('build/images/gallery/gallery-6.jpg') }}" alt="" class="img-fluid">
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="gallery-item">
        <a href="{{ asset('build/images/gallery/gallery-7.jpg') }}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{{ asset('build/images/gallery/gallery-7.jpg') }}" alt="" class="img-fluid">
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="gallery-item">
        <a href="{{ asset('build/images/gallery/gallery-8.jpg') }}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{{ asset('build/images/gallery/gallery-8.jpg') }}" alt="" class="img-fluid">
        </a>
    </div>
</div>