<div class="col-lg-6 menu-item filter-starters">
    <img src="{{ asset('build/images/menu/lobster-bisque.jpg') }}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Lobster Bisque</a><span>$5.95</span>
    </div>
    <div class="menu-ingredients">
        Lorem, deren, trataro, filede, nerada
    </div>
</div>

<div class="col-lg-6 menu-item filter-specialty">
    <img src="{{ asset('build/images/menu/bread-barrel.jpg') }}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Bread Barrel</a><span>$6.95</span>
    </div>
    <div class="menu-ingredients">
        Lorem, deren, trataro, filede, nerada
    </div>
</div>

<div class="col-lg-6 menu-item filter-starters">
    <img src="{{ asset('build/images/menu/cake.jpg') }}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Crab Cake</a><span>$7.95</span>
    </div>
    <div class="menu-ingredients">
        A delicate crab cake served on a toasted roll with lettuce and tartar sauce
    </div>
</div>

<div class="col-lg-6 menu-item filter-salads">
    <img src="{{ asset('build/images/menu/caesar.jpg') }}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Caesar Selections</a><span>$8.95</span>
    </div>
    <div class="menu-ingredients">
        Lorem, deren, trataro, filede, nerada
    </div>
</div>

<div class="col-lg-6 menu-item filter-specialty">
    <img src="{{ asset('build/images/menu/tuscan-grilled.jpg') }}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Tuscan Grilled</a><span>$9.95</span>
    </div>
    <div class="menu-ingredients">
        Grilled chicken with provolone, artichoke hearts, and roasted red pesto
    </div>
</div>

<div class="col-lg-6 menu-item filter-starters">
    <img src="{{ asset('build/images/menu/mozzarella.jpg') }}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Mozzarella Stick</a><span>$4.95</span>
    </div>
    <div class="menu-ingredients">
        Lorem, deren, trataro, filede, nerada
    </div>
</div>

<div class="col-lg-6 menu-item filter-salads">
    <img src="{{ asset('build/images/menu/greek-salad.jpg') }}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Greek Salad</a><span>$9.95</span>
    </div>
    <div class="menu-ingredients">
        Fresh spinach, crisp romaine, tomatoes, and Greek olives
    </div>
</div>

<div class="col-lg-6 menu-item filter-salads">
    <img src="{{ asset('build/images/menu/spinach-salad.jpg') }}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Spinach Salad</a><span>$9.95</span>
    </div>
    <div class="menu-ingredients">
        Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
    </div>
</div>

<div class="col-lg-6 menu-item filter-specialty">
    <img src="{{ asset('build/images/menu/lobster-roll.jpg') }}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Lobster Roll</a><span>$12.95</span>
    </div>
    <div class="menu-ingredients">
        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
    </div>
</div>